{% extends 'convergine-socialbuddy/_layouts/_settings' %}
{% do view.registerAssetBundle("convergine\\socialbuddy\\assets\\BuddyAssets") %}
{% import '_includes/forms' as forms %}

{% set title = 'Settings' %}
{% set selectedSubnavItem = 'fields' %}

{% set fullPageForm = true %}

{% block content %}
    <h2>Default Fields</h2>
    <div style="margin-bottom: 12px;">
        <p>Configure which entry types and fields to use for publishing posts to social media. Select the entry section/type and designate fields for text and images</p>
    </div>
    <input type="hidden" name="action" value="plugins/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="convergine-socialbuddy">
    {% namespace 'settings' %}
        <table class="data fullwidth">
            <thead>
            <tr>
                <th>Section</th>
                <th>Entry Type</th>
                <th>Enabled</th>
                <th>Text Field</th>
                <th>Image Field</th>
            </tr>
            </thead>
            <tbody>
            {% for entryType in entryTypes %}
                {% set isEnabled = settings.getEnabled(entryType.section_handle, entryType.handle) ?? false %}
                <tr>
                    <td>{{ entryType.section }}</td>
                    <td>{{ entryType.name }}</td>
                    <td>
                        {{ forms.lightswitchField({
                            label: null,
                            name: 'isEnabled['~entryType.section_handle~'-'~entryType.handle~']',
                            instructions: '',
                            on:  settings.getEnabled(entryType.section_handle, entryType.handle) ?? false,
                            toggle: 'isEnabled['~entryType.section_handle~'-'~entryType.handle~']'
                        }) }}                        
                    </td>
                    <td>
                        {% set options = [{ label: 'Select Field', value: '' }] %}
                        {% for field in entryType.textFields %}
                            {% set options = options|merge([{ label: field.name, value: field.handle }]) %}
                        {% endfor %}
                        {{ forms.selectizeField({
                            label: null,
                            name: 'textField['~entryType.section_handle~'-'~entryType.handle~']',
                            value: settings.getTextField(entryType.section_handle, entryType.handle),
                            options: options
                        }) }}
                    </td>
                    <td>
                        {% set options = [{ label: 'Select Field', value: '' }] %}
                        {% for field in entryType.imageFields %}
                            {% set options = options|merge([{ label: field.name, value: field.handle }]) %}
                        {% endfor %}
                        {{ forms.selectizeField({
                            label: null,
                            name: 'imageField['~entryType.section_handle~'-'~entryType.handle~']',
                            value: settings.getImageField(entryType.section_handle, entryType.handle),
                            options: options
                        }) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endnamespace %}
{% endblock %}